modinfo.html
modinfo.yaml
Contrib/.installed
Contrib/NNPACK/
Contrib/Ne10/
Contrib/OF_DIS/
Contrib/ZBar/
Contrib/generalized-hough-tranform/
Contrib/pixy/
Contrib/pthreadpool/
Contrib/tiny-dnn/
Contrib/vlfeat/
Contrib/FXdiv/
Contrib/FP16/
Contrib/psimd/
Contrib/darknet/
Contrib/darknet-nnpack/
Contrib/tensorflow/
Contrib/cpuinfo/
/hbuild/
/pbuild/
/jvpkg/
/doc/
/JeVois_jevoisbase.jvpkg
svnignore.sh
*~
